/*  ---  Sous Categorie --- */


.Sous_catégorie {
    display: flex;
    justify-content: center;
    gap: 70px;
    position: relative;
    width: 100%;
    padding-top: 100px;
}

.Sous_catégorie a {
    color: black;
}

.item-menu {
    position: relative;
    padding-bottom: 20px;
}

.lien-categorie {
    color: #ccc;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    transition: color 0.3s;
}

.item-menu:hover .lien-categorie {
    color: white;
}

.grand-menu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    width: 600px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    padding: 30px;
    display: flex;
    gap: 30px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    margin-top: 10px;

}

.item-menu:hover .grand-menu {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
}

.colonne-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 120px;
}

.colonne-menu.colonne-titre {
    border-right: 1px solid #eee;
    padding-right: 20px;
    margin-right: 10px;
    margin-top: 10px;
}

.colonne-menu h3 {
    color: #5D3FD3;
    font-size: 20px;
    margin-bottom: 10px;
}

.colonne-menu h4 {
    color: #333;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0;
}

.colonne-menu a {
    color: #666;
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 8px;
    text-transform: none;
    background: none;
    padding: 0;
}

.colonne-menu a:hover {
    color: #ec5a13;
    text-decoration: underline;
}

.Informatique-place {
    display: flex;
    margin-right: 20px;

}