* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

header {
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-bottom: 1px dotted #a0a0a0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

}

body {
    background-color: black;
    padding-top: 120px;
}


nav {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0;
}

.logo images {
    width: 200px;
}

.Accueil {
    gap: 60px;
    margin-left: 100px;
}

.Accueil ul {
    display: flex;
    justify-content: space-around;
}

.Accueil li {
    list-style-type: none;
}

.Accueil a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    padding-bottom: 0.5em;
    background-image: linear-gradient(#ffffff, #ffffff);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    transition: background-size ease-in-out 0.5s;
    margin-right: 200px;
}