@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


/* Navbar */

.droite .button {
    border: 0.3px solid #5D3FD3;
    color: white !important;
    transition: all 0.3s ease-in-out;
}

.button {
    display: inline-block;
    border: 0;
    line-height: 2.5;
    padding: 0 15px;
    font-size: 1rem;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black;
    border-radius: 10px;
    background-color: #5D3FD3;
    background-image: linear-gradient(to top left,
            rgb(0 0 0 / 0.2),
            rgb(0 0 0 / 0.2) 30%,
            transparent);
    box-shadow:
        inset 2px 2px 3px rgb(255 255 255 / 0.6),
        inset -2px -2px 3px rgb(0 0 0 / 0.6);
}

.button:active {
    box-shadow:
        inset -2px -2px 3px rgb(255 255 255 / 0.6),
        inset 2px 2px 3px rgb(0 0 0 / 0.6);
}

.button:hover {
    background-color: #5D3FD3;
    color: white !important;
    box-shadow: 0 0 15px #5D3FD3;
    transform: scale(1.05);
    background-color: #412b9a;
}

body {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header {
    z-index: 1000;
    position: fixed;
    width: 100%;
}

.logo {
    margin: 10px;
    padding-right: 50px;
}

.gauche {
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.gauche .gauche-recherche {
    width: max-content;
    display: flex;
    align-items: center;
    padding: 13px;
    border-radius: 2em;
    background: #f6f6f6;
    border: 2px solid black;
}

.gauche a {
    margin: 0 20px;
}

.recherche {
    outline: none;
    border: none;
    background: transparent;
}

.droite {
    margin: 0px 50px;
}

.droite a,
.droite a:hover,
.droite a:visited,
.droite a:active {
    margin: 0 30px;
    text-decoration: none;
}

.navbar {
    position: fixed;
    top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: black;
}

/* bloc connexion */


.Connect {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 50px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);


    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    border: 2.5px solid #5D3FD3;
}


.Connect .form {
    display: flex;
    flex-direction: column;
    display: flex;
    gap: 20px;

}

.Connect .action {
    display: flex;
    justify-content: flex-end;
}

.action .bouton {
    border: 0.3px solid #5D3FD3;
    color: white !important;
    transition: all 0.3s ease-in-out;
}

.bouton {
    border: 0;
    line-height: 2.5;
    padding: 10px 10px;
    font-size: 1rem;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black;
    border-radius: 10px;
    background-color: #5D3FD3;
    background-image: linear-gradient(to top left,
            rgb(0 0 0 / 0.2),
            rgb(0 0 0 / 0.2) 30%,
            transparent);
    box-shadow:
        inset 2px 2px 3px rgb(255 255 255 / 0.6),
        inset -2px -2px 3px rgb(0 0 0 / 0.6);
}

.bouton:active {
    box-shadow:
        inset -2px -2px 3px rgb(255 255 255 / 0.6),
        inset 2px 2px 3px rgb(0 0 0 / 0.6);
}

.bouton:hover {
    background-color: #5D3FD3;
    color: white !important;
    box-shadow: 0 0 15px #5D3FD3;
    transform: scale(1.05);
    background-color: #412b9a;
}

form.connexion label {
    color: black;
}

.Connect .connexion {
    display: flex;
    flex-direction: column;
    display: flex;
    gap: 20px;

}

.Connect input {
    border: 2px solid #5D3FD3;
    border-radius: 10px;
    padding: 10px;
}

.connexion h2 {
    color: #5D3FD3;
}